.container {
    height: auto;
    width: 700px;
}

.container .zoom {
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: default;
    overflow: hidden;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.container .image__preview {
    width: 100%;
    display: block;
}